<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/demo.css" type="text/css">
    <style type="text/css">
.right_nav{
  margin-left: 920px;
}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
      <ul class="nav navbar-nav">
        <li class="nav-item">Test App</li>
        <li class="nav-item">Home</li>
        <li class="nav-item"><a class="right_nav" href="/loginPage">Sign in</a></li>
      </ul>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome to the Test</h1>
        <p>We're going to build a cool application using a MVC framework! This application was built with the Village88 forks!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Start &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Manage Users</h2>
          <p>Using the application, you'll learn how to add, remove, and edit users for the application </p>
        </div>
        <div class="col-md-4">
          <h2>Leave messages</h2>
          <p>Users will be able to leave a message to another using this application. </p>
       </div>
        <div class="col-md-4">
          <h2>Edit User Information</h2>
          <p>Admins will be able to edit another user's information( email address, first name, last name, etc).</p>
        </div>
      </div>
  </body>
</html>



